.Body {
    position: sticky;
    top: 40rem;
    left: 17rem;
    width: calc(100vw - 17rem);
    max-width: 100vw;
    min-height: calc(100vh - 4rem);
    /* display: grid; */
    /* row-gap: 1rem; */
    padding: 2rem;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
}

.SideBar-minimize {
    animation: sidebar-minimize 0.3s ease-in-out forwards;
    transition: all 1s;
}

@keyframes sidebar-minimize {
    from {
        width: calc(100vw - 17rem);
        left: 17rem;
    }

    to {
        width: 100vw;
        left: 0rem;
    }
}

.SideBar-maximize {
    animation: sidebar-maximize 0.3s ease-in-out forwards;
    transition: all 1s;
}

@keyframes sidebar-maximize {
    from {
        width: 100vw;
        left: 0rem;
    }
    
    to {
        width: calc(100vw - 17rem);
        left: 17rem;
    }
}

.content{
    position: sticky;
    /* top: 7rem; */
    width: 100%;
    padding: 0rem 1rem 1rem 1rem;
    box-sizing: border-box;
    transition: top 0.3s;
}