@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.WelcomeCardGoku {
    position: relative;
    background: linear-gradient(to bottom, rgb(248, 216, 255), rgb(220, 140, 223));
    width: 100%;
    height: 13rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: block;
    padding: 0;
    transition: filter 1.3s;
}

.WelcomeCardGoku.disapear {
    animation: disapear 3s forwards ease-out;
}

.WelcomeCardGoku.disapear>* {
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    display: none;
    transition: width 3s, height 3s, margin 3s, padding 3s, filter 0.3s;
}

.WelcomeCardGoku>*>*>*>*,
.WelcomeCardGoku>*>*+.mountain-container {
    transition: filter 0.3s;
}

.WelcomeCardGoku:hover>*>*>*>*,
.WelcomeCardGoku:hover>*>*+.mountain-container {
    filter: blur(4px);
    transition: filter 0.3s;
    animation-play-state: paused;
}

.WelcomeCardGoku:hover {
    filter: hue-rotate(10deg);
    transition: filter 0.5s;
}

@keyframes disapear {
    0% {
        margin-top: 2rem;
        margin-left: 0rem;
        padding: 0;
        width: 100%;
        height: 13rem;
    }
    10% {
        width: 50%;
        margin-left: 25%;
        filter: blur(0px);
        opacity: 1;
        display: none;
    }
    100% {
        display: none;
        margin-top: 0rem;
        padding: 0;
        width: 0%;
        height: 0rem;
        overflow: hidden;
        filter: blur(1000px);
        opacity: 0;
    }
}

.closeWelcomeCardGokuButton {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.3rem;
    color: blueviolet;
    cursor: pointer;
    z-index: 100;
    transition: color 0.3s;
    transform: scaleX(1.2);
}

.closeWelcomeCardGokuButton:hover {
    color: purple;
    transition: color 0.3s;
}

.welcome-msg-goku {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    top: 0rem;
    left: 0rem;
    width: 60%;
    height: 100%;
    z-index: 4;
    background-blend-mode: color-burn;
}

.greet-msg-goku {
    position: absolute;
    top: 2rem;
    left: 3rem;
    color: blueviolet;
    font-family: 'Pacifico', cursive;
    letter-spacing: 0.5rem;
    font-size: 150%;
    transform: translate(40rem, 0rem);
    opacity: 0;
    width: 100%;
    animation: loadWelcomeMsg 2s forwards 1 ease-out;
    animation-delay: 0.5s;
}

@keyframes loadWelcomeMsg {
    from {
        transform: translate(40rem, 0rem);
    }
    50% {
        opacity: 0;
    }
    to {
        transform: translate(0rem, 0rem);
        opacity: 1;
    }
}

.info-msg-goku {
    position: absolute;
    bottom: 2rem;
    left: 3rem;
    letter-spacing: 0.2rem;
    width: 80%;
    color: rgb(255, 98, 98);
    font-size: 130%;
    transform: translate(40rem, 0rem);
    opacity: 0;
    animation: loadWelcomeMsg 2s forwards 1 ease-out;
    animation-delay: 1s;
}

.view-profile-button-goku {
    height: 2rem;
    width: 6rem;
    border: 2px solid blueviolet;
    color: blueviolet;
    border-radius: 4px;
    background: rgb(232, 178, 235, 0.5);
    transition: color 0.3s, background 0.3s, box-shadow 0.3s;
    margin-top: 0.7rem;
}

.view-profile-button-goku:hover {
    background-color: blueviolet;
    color: white;
    box-shadow: 0px 0px 0px 10px rgb(138, 43, 226, 0.1);
    transition: color 0.3s, background 0.3s, box-shadow 0.3s;
}

.welcome-background {
    position: absolute;
    width: 100%;
    height: 100%;
}

.clouds {
    position: absolute;
    width: 100%;
    height: 100%;
}

.mountain-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 110%;
    /* margin-top: -1.4rem; */
    overflow: hidden;
}

.mountain {
    position: absolute;
    bottom: 0rem;
    right: 1rem;
    -webkit-transform: scaleX(-1);
    transform: translate(0px, 1000px) scaleX(-1);
    z-index: 1;
    background-image: url('../../../assets/images/mountain.png');
    width: 90%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    transition: filter 0.3s;
    animation: mountainLoadup 3s forwards 1;
    background-position: left bottom;
}

.goku-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.goku {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 1rem;
    margin-left: -10rem;
    transform: scaleX(-1);
    animation: move_forward_goku 50s infinite forwards linear, move_up_down_goku 2s infinite alternate linear;
    animation-delay: 2s;
}

@keyframes move_forward_goku {
    0% {
        margin-left: -10rem;
        z-index: 0;
        transform: scaleX(-1);
        width: 3rem;
        height: 3rem;
    }
    40% {
        width: 3rem;
        height: 3rem;
    }
    50% {
        z-index: 0;
        margin-left: 110%;
        transform: scaleX(-1);
        width: 4rem;
        height: 4rem;
    }
    51% {
        z-index: 1;
        transform: scaleX(1);
        width: 5rem;
        height: 5rem;
    }
    99% {
        transform: scaleX(1);
        z-index: 1;
        width: 5rem;
        height: 5rem;
    }
    100% {
        transform: scaleX(0);
        margin-left: -10rem;
        z-index: 0;
        width: 3rem;
        height: 3rem;
    }
}

@keyframes move_up_down_goku {
    from {
        margin-top: -0.3rem;
    }
    to {
        margin-top: 0.3rem;
    }
}

@keyframes mountainLoadup {
    from {
        transform: translate(0px, 1000px) scaleX(-1);
    }
    to {
        transform: translate(0px, 0px) scaleX(-1);
    }
}

@media screen and (max-width: 1200px) {
    .WelcomeCardGoku {
        height: 20rem;
    }
    .welcome-msg {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-content: center;
        gap: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        box-sizing: border-box;
    }
    .greet-msg {
        /* top: 5rem; */
        position: static;
        font-size: 124%;
    }
    .info-msg {
        position: static;
    }
    .mountain {
        width: 85%;
    }
}

@media screen and (max-width: 600px) {
    .WelcomeCardGoku {
        height: 25rem;
    }
    .welcome-msg {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-content: center;
        gap: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        box-sizing: border-box;
    }
    .greet-msg {
        /* top: 5rem; */
        position: static;
        font-size: 124%;
    }
    .info-msg {
        position: static;
    }
    .mountain {
        width: 85%;
    }
}