.Header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 4rem;
    padding: 0.8rem;
    padding-left: 18rem;
    box-sizing: border-box;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: padding-left 0.4s;
}

.Header >*{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-button{
    background: none;
    border: none;
    transform: rotateZ(90deg);
    font-size: 2rem;
    cursor: pointer;
    letter-spacing: 2px;
    transition: color 0.3s, text-shadow 0.3s;
}
.sidebar-button:hover{
    color: #bf74ff;
}
.sidebar-toggle-open{
    animation: sidebar-toggle-open 0.3s ease-in-out forwards;
}

@keyframes sidebar-toggle-open{
    from{
        margin-left: -17rem;
    }
    to{
        margin-left: 0rem;
    }
}

.sidebar-toggle-close{
    animation: sidebar-toggle-close 0.3s ease-in-out forwards;
}

@keyframes sidebar-toggle-close{
    from{
        margin-left: 0rem;
    }
    to{
        margin-left: -17rem;
    }
}

.user-name{
    text-transform: capitalize;
    position:relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 4rem;
}

.user-name:hover > .user-options{
    height: 11rem;
    transition: height 0.3s;
}
.user-name:hover > .user-options ul li{
    color: black;
    transition: color 0.5s 0.1s ;
}
.user-options{
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 3.5rem;
    width: 100%;
    min-width: 12rem;
    right: 0;
    background: white;
    transition: height 0.3s 0.2s;
}
.user-options ul{
    padding: 0.5rem;
    margin: 0;
    box-sizing: border-box ;
}
.user-options ul li{
    color: white;
    padding: 0.7rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0.3rem;
    transition: color 0.3s ;
}
.user-options ul li:hover{
    background: linear-gradient(to left, #efdfff, #f2e7ff);
    color: #bf74ff !important;
    transition: color 0.1s ;
}
.user-options ul li >*{
    margin-right: 0.5rem;
}



@media screen and (max-width:600px) {
    .Header{
        padding-left: 0.8rem;
    }
}