.Header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 4rem;
    padding: 0.8rem;
    padding-left: 18rem;
    box-sizing: border-box;
    background: var(--primary-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: padding-left 0.4s;
    transition: background 0.5s;
}

.Header>* {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-button {
    background: none;
    border: none;
    transform: rotateZ(90deg);
    font-size: 2rem;
    cursor: pointer;
    letter-spacing: 2px;
    transition: color 0.3s, text-shadow 0.3s;
}

.sidebar-button:hover {
    color: var(--link-hover-color);
}

.sidebar-toggle-open {
    animation: sidebar-toggle-open 0.3s ease-in-out forwards;
}

@keyframes sidebar-toggle-open {
    from {
        margin-left: -17rem;
    }
    to {
        margin-left: 0rem;
    }
}

.sidebar-toggle-close {
    animation: sidebar-toggle-close 0.3s ease-in-out forwards;
}

@keyframes sidebar-toggle-close {
    from {
        margin-left: 0rem;
    }
    to {
        margin-left: -17rem;
    }
}

.user-name {
    text-transform: capitalize;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 4rem;
    color: var(--link-color);
    transition: color 0.5s;
}

.user-name:hover>.user-options {
    height: 14.5rem;
    transition: height 0.3s;
}

.user-name:hover>.user-options ul li {
    color: var(--link-color);
    transition: color 0.5s 0.1s;
}

.user-options {
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 3.5rem;
    width: 100%;
    min-width: 12rem;
    right: 0;
    background: var(--primary-background);
    transition: background 0.5s;
    transition: height 0.3s 0.2s;
}

.user-options ul {
    padding: 0.5rem;
    margin: 0;
    box-sizing: border-box;
}

.user-options ul li {
    color: var(--link-color);
    padding: 0.7rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0.3rem;
    transition: color 0.3s, fill 0.1s;
}

.user-options ul li:hover {
    background: var(--link-hover-background);
    color: var(--link-hover-color) !important;
    transition: color 0.1s;
}

.user-options ul li:hover i {
    color: var(--link-hover-color) !important;
}

.user-options ul li:hover svg {
    fill: var(--link-hover-color) !important;
}

.user-options ul li>* {
    margin-right: 0.5rem;
}


/* toggle slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch .form-check-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.form-check-input:checked+.slider {
    background-color: #2196F3;
}

.form-check-input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

.form-check-input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* toggle slider */

@media screen and (max-width:600px) {
    .Header {
        padding-left: 0.8rem;
    }
}