.Breadcrums {
    position: sticky;
    top: 0rem;
    left: 1rem;
    width: 100%;
    min-height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* padding: 0rem 1rem 0rem 1rem; */
    box-sizing: border-box;
}

.Breadcrums>* {
    margin-bottom: 1rem;
}

.breadcrums-path {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-background);
    color: var(--link-color);
    transition: color 0.3s, background 0.5s;
}

.breadcrums-path>* {
    margin-right: 10px;
}

.child-path::before {
    content: '/';
    margin-right: 10px;
}

.path {
    text-transform: capitalize;
}

.path:hover {
    color: var(--link-hover-color);
    ;
    cursor: pointer;
}

.child-path:hover:before {
    color: var(--link-color);
    ;
}

.breadcrums-logo i {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--link-active-background);
    color: var(--link-color);
    height: 2rem;
    width: 2rem;
    border-radius: 5px;
    transition: color 0.3s, background 0.5s;
}

.current-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    background: var(--primary-background);
    color: var(--link-color);
    transition: color 0.3s, background 0.5s;
}

.current-time:hover {
    cursor: pointer;
    color: var(--link-hover-color);
}

@media screen and (max-width:1200px) {
    .Breadcrums {
        justify-content: space-evenly;
        left: 0rem;
    }
}